body {
    font-family: Arial, sans-serif;
    background-color: #c1e0f9;
    color: #333;
    text-align: center;
}

/* Headers */
h1,
h2 {
    margin: 10px 0;
    padding: 5px;
    font-family: 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
}

h1 {
    font-size: 35px;
    color: #00529B;
}

h2 {
    font-size: 20px;
    color: #00529B;
    border-bottom: thin dotted #00529B;
}

h3 {
    color: #003059;
    font-family: sans-serif;
    font: Tahoma;
}

#home h2 {
    margin-bottom: 50px;
}

.fetching-bonus {
    font-family: sans-serif;
    font: Tahoma;
    color: #00529B;
    font-size: 14px;
    font-weight: bold;
}

/* Error */
#error-container h1 {
    font-family: sans-serif;
    font: Tahoma;
    color: #00529B;
}

/* Start button */
.start-game-button {
    padding: 40px 80px;
    font-size: 100px;
    background-color: #59a559;
    color: white;
    border-color: #333;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    align-content: center !important;
    justify-items: center !important;
}

#start-game {
    display: flex;
    height: 30vh;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
}

.start-game-button:hover {
    background-color: #4cae4c;
}

/* Progress bar container */
#progress-container {
    width: 100%;
    background-color: #ddd;
    height: 20px;
    border-radius: 5px;
    overflow: hidden;
  }
  
  #progress-bar {
    width: 0%;
    height: 100%;
    background-color: #4CAF50;
    line-height: 20px;
    color: white;
    text-align: center;
  }


/* Bonus */
#bonus-category-selection {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px auto;
}

#bonus-category-selection h1 {
    color: #00529B;
    margin-bottom: 20px;
}

#bonus-category-selection button {
    background-color: #7b7b7b;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
}

#bonus-category-selection button:hover {
    background-color: #676767;
}

.bonus-question {
    background-color: rgb(234, 226, 177) !important; 
}

.question.bonus-question {
    background-color: rgb(234, 226, 177) !important;
}

/* Question Tracking */
#score-tracker {
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: #00529B;
    width: 100%;
    padding: 10px 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

#correct-answers, #incorrect-answers {
    margin: 0 20px;
}

/* Questions & Answers */
.question {
    background-color: #dce9f4;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answer-btn {
    background-color: #dce9f4;
    color: #00529B;
    font-size: 14px;
    font-weight: bold;
    padding: 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: calc(100% - 20px);
    max-width: 640px;
    box-sizing: border-box;
    text-align: center;
}

.answer-btn:disabled {
    background-color: #dce9f4;
}


#answer-container {
    list-style-type: none;
    padding-left: 0;
}

.answer-btn:hover {
    background-color: #d4d4d4;
}

#game-controls {
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    display: flex;
}

/* Game Control Buttons */
#game-controls button {
    padding: 10px 15px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #59a559;
    color: white;
    border-radius: 7px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#game-controls button:hover {
    background-color: #4cae4c;
}


/*Score Board*/
.score-board {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    margin-top: 20px;
    width: 100%;
}

.score-card {
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    max-width: 135px;
    margin-right: 30px;
    margin-left: 30px;
}

.current-score {
    background-color: #f3f3f3;
}

.best-score {
    background-color: #e6ffe6;
}

.score-title {
    font-weight: bold;
}

.score-value {
    display: block;
    font-size: 24px;
    margin-top: 8px;
}

/* Footer and Leader Board */
footer {
    margin-top: 30px;
    border-top: thin dotted #00529B;
    padding-top: 6pt;
    text-align: center;
}

/* Menu Bar */
.menu-bar {
    background-color: #7194b0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 0;
    margin: 0;
    width: 90%;
    flex-wrap: wrap;
    position: relative;
}

.menu-bar a,
.menu-bar select {
    font-size: 14px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0 20px;
    height: 100%;
    background-color: transparent;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    flex: 1;
    text-align: center;
}

.menu-bar select {
    background-position: right 10px center;
    background-size: 12px;
    cursor: pointer;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.menu-bar select::after {
    content: "\25BC";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: white;
    font-size: 0.8em;
}

.menu-bar a:first-child,
.menu-bar select:first-of-type {
    border-left: none;
}

.menu-bar a:not(:first-child),
.menu-bar select:not(:first-child) {
    border-left: 1px solid white;
}

.menu-bar a:hover,
.menu-bar select:hover {
    background-color: #4e687e;
}

 /* Timer*/
#timer-container {
    position: fixed;
    right: 1.5vw;
    top: 1.5vw;
    z-index: 1000;
}

#timer-svg text {
    font-size: 2em;
}

#timer-svg circle {
    stroke-dasharray: 339.292;
    stroke-dashoffset: 0;
    stroke-width: 12;
    transition: stroke-dashoffset 0.3s linear;
}

/* Times Up Modal*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #f3f3f3;
    margin: 5% auto;
    padding: 20px;
    border: 5px solid #00529B;
    width: 75%;
    height: 50%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 30px;
    color: #00529B;
    font-weight: bold;
    animation: myAnim 2s ease 0s 1 normal forwards;
    align-items: center;
    align-content: center;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: rgb(70, 70, 70);
    text-decoration: none;
    cursor: pointer;
}

/* Too many requests modal */
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #f3f3f3;
    margin: 5% auto;
    padding: 20px;
    border: 5px solid #00529B;
    width: 75%;
    height: 50%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 30px;
    color: #00529B;
    font-weight: bold;
    align-items: center;
    align-content: center;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: rgb(70, 70, 70);
    text-decoration: none;
    cursor: pointer;
}

/* Too many requests */
.error-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #c1e0f9;
}

.error-content {
    display: flex;
    align-items: center;
    justify-content: start;
}

.bucket-image {
    width: 200px;
    height: auto;
    margin-right: 20px;
}

.error-text {
    text-align: left;
}

#too-many-requests h1 {
    color: #00529B;
    margin: 0 0 10px 0;
}

#too-many-requests p {
    color: #333;
    margin: 0;
}


/* Game Over*/
#game-over {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}

#new-game {
    background-color: #59a559;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 70px;
    margin-bottom: 50px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-self: center;
}

#new-game:hover {
    background-color: #4cae4c;
}

.game-over-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

html,
body {
    padding: 0;
    margin: 0;
}


/* Ask the host*/
.host-answer {
    font-weight: bold;
    color: rgb(118, 69, 147);
    font-size: 20px;
}

/* Responsive adjustments*/
@media (max-width: 768px) {

    .menu-bar {
        flex-wrap: wrap;
        justify-content: center;
    }

    .menu-bar a,
    .menu-bar select {
        padding: 10px 5px;
        font-size: 14px;
        flex-grow: 1;
        text-align: center;
    }

    #score-board {
        flex-direction: row;
        align-items: start;
        padding: 0 10%;
    }

    .question,
    .answer-btn {
        width: 90%;
        font-size: 16px;
    }

    @media screen and (max-width: 500px) {
        .menu-bar a {
            float: none;
            display: block;
        }
    }

    @media (max-width: 768px) {
        #timer-container {
            width: 55px;
            height: 55px;
        }
    }

    @media (max-width: 480px) {
        #timer-container {
            width: 45px;
            height: 45px;
        }
    }

    @media (min-width: 600px) {
        .score-card {
            width: 135px;
        }
    }

    @media (max-width: some-width) {
        #game-controls {
            flex-direction: column;
            justify-content: center;
        }
    }
}